NEXT_PUBLIC_SUPABASE_URL=https://pmhsrkboqnxwcczaxajq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_uDl2rQQAduKBQInOUvh32Q_as1aPLnu
NEXT_PUBLIC_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLScnQ3eY0WEWIy7u4zuABj8mm_NbqX3P6SqNRlPjKwLDO1y2QA/viewform?embedded=true
ADMIN_SECRET_PIN=ukmpr-sapari19
